---
import BaseLayout from "./BaseLayout.astro";
import {colGrid, containerGrid, rowGrid} from "../Utils/ClassGenerator"
import {fontSize} from "../Utils/FontsSizes"
import  Breadcrumbs  from "../components/Breadcrumbs/Breadcrumbs.astro";
import "astro-breadcrumbs/breadcrumbs.css";

const html = await Astro.slots.render('default');
import HeaderImg from "../assets/img/header.jpg";
import { Image } from "astro:assets";

console.log();

const breadcrumbItems = [
  { label: 'Home', url: '/' },
  { label: 'Category', url: '/category' },
  { label: 'Subcategory', url: '/category/subcategory' },
  { label: 'Current Page' },
];

---

<BaseLayout title="Astro">
  
    <div class={containerGrid() +  " text-white base-content-blog"}>
        <div class={rowGrid()}>
            <div class={colGrid("md:w-10/12 blog-content")}>
                
                <div class="image-background">
                    <div class="overlay"></div>
                    <Image src={HeaderImg} alt="hola"/>
                </div>
                <Breadcrumbs items={breadcrumbItems} />

                <Fragment set:html={html} />
            </div>
        </div>
    </div>
</BaseLayout>

<style lang="scss" is:global>
   
   /* .overlay {
        background-color: rgb(20, 12, 28);
        opacity: 0.4;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
    }*/
   
    .image-background {
        width: 100%;
        height: 300px;
        margin-bottom: 3rem;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            border: none!important;
        }
    }
    .blog-content {
        * {
            line-height: 1.5;
            font-size: 2rem;
            color: #dddddd;
        }
        h1 {
            font-family: "Sora Variable", sans-serif;
            font-size: 4.5rem;
            font-weight: 700;
            background: #875087;
            background: linear-gradient(to right, #875087 0%, #fff 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            margin-bottom: 2.5rem;
        }

        p {
            margin-bottom: 2rem;
        }
        
        h2{
            font-family: "Sora Variable", sans-serif;
            font-size: 3.6rem;
            font-weight: 700;
            background: #875087;
            background: linear-gradient(to right, #875087 0%, #fff 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            margin-bottom: 2.5rem;

        }
        h3 {
            font-family: "Sora Variable", sans-serif;
            font-size: 2.6rem;
            font-weight: 700;
            background: #875087;
            background: linear-gradient(to right, #875087 0%, #fff 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            margin-bottom: 2.5rem;

        }
        li {
            display: block;
            position: relative;
            z-index: 1;
            padding-left: 25px;
            margin-bottom: 10px;
            &::before {
                content: "*";
                color: #8750f7;
                position: absolute;
                left: 0;
                top: 0;
                font-size: 2rem;
            }
        }

        .astro-code {
            padding: 20px;
            margin-bottom: 2rem;
        }
        strong {
            color: #875087;

        }

        img {
            border-radius: 15px;
    border: 5px solid transparent;
        }
    }

</style>