---
import BaseLayout from "./BaseLayout.astro";
import { colGrid, containerGrid, rowGrid } from "../Utils/ClassGenerator";
import { getBreadCrumb } from "../Utils/LinksGenerator";
import Breadcrumbs from "../components/Breadcrumbs/Breadcrumbs.astro";
import { createAnchorLinks } from "../Utils/LinksGenerator";
const html = await Astro.slots.render("default");
import Text from "../components/Text/Text.astro";
import MenuAnchors from "../components/MenuAnchors/MenuAnchors.astro";
const currentPath = Astro.url.pathname;
const breadCrumbLinks = getBreadCrumb(currentPath, Astro.props.titleTeaser);
const breadcrumbItems = breadCrumbLinks;
---


<BaseLayout
    title={Astro.props.title}
    description={Astro.props.description}
    pretitle={Astro.props.pretitle}
>
    <div class={containerGrid("text-white")}>
        <div class={colGrid("w-full")}>
            <Breadcrumbs items={breadcrumbItems} />
        </div>
    </div>
    <Text
        pretitle={Astro.props.pretitle}
        title={Astro.props.title}
        description={Astro.props.description}
    />

    <MenuAnchors />
   

    <div class={containerGrid() + " text-white base-content-blog"}>
        <div class={rowGrid()}>
            <div class={colGrid("w-full md:w-10/12 blog-content")}>
                <Fragment set:html={html} />
            </div>
        </div>
    </div>
</BaseLayout>

<style lang="scss" is:global>
  
    .mancha-color {
        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 220px;
            height: 220px;
            border-radius: 50%;
            background: #B592F7;
            background: -o-linear-gradient(
                190deg,
                #B592F7 0%,
                rgba(115, 67, 210, 0) 100%
            );
            background: linear-gradient(
                260deg,
                #B592F7 0%,
                rgba(115, 67, 210, 0) 100%
            );
            -webkit-filter: blur(150px);
            filter: blur(150px);
            margin-left: -5%;
            margin-bottom: -5%;
        }
    }
    /* .overlay {
        background-color: rgb(20, 12, 28);
        opacity: 0.4;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
    }*/

    .image-background {
        width: 100%;
        height: 300px;
        margin-bottom: 3rem;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            border: none !important;
        }
    }
    .blog-content {
        * {
            line-height: 1.5;
            font-size: 1.8rem;
            color: #dddddd;
        }
        h1 {
            font-family: "Sora Variable", sans-serif;
            font-size: 4.5rem!important;
            font-weight: 700;
            background: #875087;
            background: linear-gradient(to right, #875087 0%, #fff 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            margin-bottom: 2.5rem;
        }

        p {
            margin-bottom: 2rem;
        }

        h2 {
            font-family: "Sora Variable", sans-serif;
            font-size: 3.6rem!important;
            font-weight: 700;
            background: #875087;
            background: linear-gradient(to right, #875087 0%, #fff 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            margin-bottom: 2.5rem;
        }
        h3 {
            font-family: "Sora Variable", sans-serif;
            font-size: 2.6rem;
            font-weight: 700;
            background: #875087;
            background: linear-gradient(to right, #875087 0%, #fff 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            margin-bottom: 2.5rem;
        }
        li {
            display: block;
            position: relative;
            z-index: 1;
            padding-left: 25px;
            margin-bottom: 10px;
            &::before {
                content: "*";
                color: #B592F7;
                position: absolute;
                left: 0;
                top: 0;
                font-size: 2rem;
            }
        }

        .astro-code {
            padding: 20px;
            margin-bottom: 2rem;
        }
        strong {
            color: #875087;
        }

        img {
            border-radius: 15px;
            border: 5px solid transparent;
        }
    }
</style>
